html, body{
	width: 100%;
	height: 100%;
	background-color: #e9e9e9;
}

h1{
	font: 7rem 'Roboto', sans-serif;
	font-weight: 700;
}

h2{
	font: 5rem 'Roboto', sans-serif;
	font-weight: 700;
}

h3{
	font: 3rem 'Roboto', sans-serif;
	font-weight: 700;
}

.header-site img{
	margin-top: 120px;
	margin-bottom: 120px;
}

.navbar{
	border: none;
	border-radius: 0;
}

.navbar-default{
	background-color: #1a0d4a;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #e9e9e9;
}

.navbar-toggle{
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a{
	font: 15px arial, sans-serif;
	color: #e9e9e9;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #d2d2d2;
}

.corpo-1{
	width: 100%;
	height: 890px;
	background: url("../img/1.jpg") center center no-repeat; 
	background-size: cover;
}

.corpo-1 h1{
	margin-top: 150px;
	color: #e9e9e9;
}

.corpo-1 p{
	font: 4rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
}

.anime{
	opacity: 0;
	transform: translate3d(-100px, 0, 0);
	transition: 0.5s;
}

.anime-start{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.buttons{
	margin-top: 70px;
}

.btn-default{
	font-family: Arial, Helvetica, sans-serif;
	color: #e9e9e9;
	padding: 15px 25px;
	background-color: transparent;
	border-width: 2px;
	border-radius: 3px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:visited{
	color: #1a0d4a;
	border-color: #46a3ca;
	background-color: #46a3ca;
}

.corpo-2 h2{
	color: #1a0d4a;
}

.corpo-2 h3{
	margin-top: -10px;
	font-weight: 300;
	color: #1a0d4a;
}

.portfolio{
	height: 500px;
	background-image: url(../img/portfolio-1.png); 
	background-size: cover;
	background-position: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 13, 74, 0.8);
	opacity: 0;
}

.overlay p{
	font: 4rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
	position: relative;
	top: 50%;
}

.portfolio:hover{
	-moz-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.portfolio:hover .overlay{
	opacity: 1;
	transition: 0.6s ease;
}

.background-footer{
	width: 100%;
}

.container-footer h2{
	color: #e9e9e9;
	margin: 50px 0;
}

.container-footer h3{
	color: #e9e9e9;
}

.container-footer p{
	font: 2rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
}

.container-footer a{
	color: #e9e9e9;
	text-decoration: underline;
}

.container-footer img{
	border-radius: 50%;
}

.contact{
	margin: 20px 0;
}

.contact h2,
.contact p{
	text-align: center;
}

.facebook{
	text-align: center;
	margin: 10px auto;
	display: block;
}

.facebook img{
	width: 50px;
	height: 50px;
}

.facebook img:hover{
	background-color:rgba(233, 233, 233, 0.08);
}

.gradient{
	background: #01818c;
	background: -webkit-linear-gradient(-45deg, #01818c, #5b37e4);
	background: -o-linear-gradient(-45deg, #01818c, #5b37e4);
	background: -moz-linear-gradient(-45deg, #01818c, #5b37e4);
	background: linear-gradient(-45deg, #01818c, #5b37e4);
	background-size: contain;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 385px) {
	.btn-2 {
		margin-top: 10px;
	}
}

@media screen and (max-width: 768px) {
	h1{
		font-size: 5rem;
	}

	h2{
		font-size: 4rem;
	}

	.corpo-1 p{
		font-size: 3rem;
	}

	.container-footer h3,
	.container-footer p{
		text-align: center;
	}
}