html, body{
	width: 100%;
	height: 100%;
	background-color: #fff;
}

h1{
	font: 7rem 'Roboto', sans-serif;
	font-weight: 700;
	color: #e9e9e9;
}

h2{
	font: 5rem 'Roboto', sans-serif;
	font-weight: 700;
	color: #e9e9e9;
	margin: 50px 0;
}

h2:after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 30px;
	border-bottom: 3px solid #1a0d4a;
}

h3{
	font: 4rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
}

h4{
	font: 3.5rem 'Roboto', sans-serif;
	font-weight: 700;
	color: #e9e9e9;
}

p{
	font: 2.5rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
}

.navbar{
	border: none;
	border-radius: 0;
}

.navbar-default{
	background-color: #111;
	margin: 0 !important;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.navbar-default .navbar-toggle{
	border-radius: 0;
	border-color: transparent !important;
	height: 55px;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
	background-color: #4a4c4a;
	border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: transparent !important;
}

.navbar-default .navbar-nav > li > a{
	font: 18px 'Roboto', sans-serif;
	font-weight: 300;
	padding: 25px 15px;
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #fff;
	background-color: #4a4c4a;
}

.left p{
	font: 4rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
}

.anime{
	opacity: 0;
	transform: translate3d(-100px, 0, 0);
	transition: 0.5s;
}

.anime-start{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.corpo-1{
	height: 700px;
	width: 100%;
	background: url("../img/1.jpg") center center no-repeat; 
	background-size: cover;
}

.corpo-1 h3{
	margin: 40px 0 30px 0;
}

.corpo-1 p{
	margin: 30px 0 0 0;
}

.corpo-2 img{
	width: 100%;
	padding: 0px 30px 0px 30px;
}

.corpo-2 h2{
	color: #3d7c5b;
	font-size: 4rem;
}

.corpo-2 h3{
	color: #3c9b69;
	font-size: 3rem;
}

.corpo-2 h4{
	color: #12d66f;
	font-size: 3rem;
	padding: 30px 0;
}

.corpo-2 p{
	font-size: 2rem;
	font-weight: 300;
	color: #12d66f;
	text-align: justify;
}

.corpo-2 h2:after{
	border-bottom: 3px solid #3d7c5b;
}

.corpo-2 .cards{
	padding: 20px;
	margin: 40px 0;
}

.background-footer{
	width: 100%;
}

.corpo-3 .row{
	margin-bottom: 50px;
}

.corpo-3 h2{
	color: #e9e9e9;
	margin: 50px 0;
}

.corpo-3 h2:after{
	border-color: #e9e9e9;
}

.corpo-3 h4{
	color: #e9e9e9;
}

.corpo-3 p{
	font: 2rem 'Roboto', sans-serif;
	font-weight: 300;
	color: #e9e9e9;
	text-align: justify;
}

.corpo-3 a{
	color: #e9e9e9;
	text-decoration: underline;
}

.corpo-3 img{
	border-radius: 50%;
	
}

.corpo-4 {
	width: 100%;
	background-color: #111;
}

.contact{
	padding: 40px 0;
}

.contact,
.contact h4,
.contact p{
	text-align: center;
	display: block;
	margin: 0 auto;
}

.contact h4{
	margin-bottom: 20px;
}

.contact a{
	text-decoration: none;
	border-bottom: 1px dashed rgba(233, 233, 233, 0.3);
	transition: 0.6s ease;
}

.contact a:hover{
	border-bottom: 1px dashed rgba(233, 233, 233, 1);
	transition: 0.5s ease;
}


.gradient{
	background: #01818c;
	background: -webkit-linear-gradient(-45deg, #01818c, #5b37e4);
	background: -o-linear-gradient(-45deg, #01818c, #5b37e4);
	background: -moz-linear-gradient(-45deg, #01818c, #5b37e4);
	background: linear-gradient(-45deg, #01818c, #5b37e4);
	background-size: contain;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
	h1{
		font-size: 5rem;
	}

	h2{
		font-size: 4rem;
	}

	h3{
		font-size: 3rem;
	}

	p{
		font-size: 2.5rem;
	}

	.corpo-1 p{
		text-align: justify;
	}

	.header-site img{
		margin-top: 150px;
		margin-bottom: 70px;
	}

	.container-footer h4,
	.container-footer a{
		text-align: center;
	}

	.container-footer{
		text-align: justify;
	}

	.cards img{
		padding: 0 100px;
	}

	.corpo-3 h4{
		text-align: center;
	}

	.corpo-3 img{
		padding: 0 100px;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.cards img{
		padding: 0 200px;
	}

	.corpo-3 h4{
		text-align: center;
	}

	.corpo-3 img{
		padding: 0 200px;
	}
}