body {
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.starter {
	margin-top: 20%;
	float: none !important;
}

.img-logo {
	width: 100%;
}

.text-logo {
	font-family: Arial;
	font-size: 2.5rem;
	color: #bababb;
	padding: 1%;
	display: inline-block;
	text-shadow: 0px 0px 1px rgba(178, 178, 178, 0.40);
}

.port-wrap {
	background-image: url(../img/background-port.png);
	background-size: contain;
	margin-top: 15%;
}

.port {
	max-width: 900px;
	float: none !important;
}

.portfolio {
	width: 50%;
	float: left;
	margin: 10% 0;
	opacity: 0.5;
}

.portfolio:hover {
	opacity: 1;
	transition: 0.5s;
}

.rounded {
	border-radius: 20px;
}

.about {
	margin-top: 5%;
	margin-left: 5%;
	float: left;
}

.about h2 {
	font-family: Arial;
	font-size: 2.5rem;
	color: #3f6ff8;
	text-shadow: 0px 0px 1px rgba(178, 178, 178, 0.40);
}

.about p {
	font-family: Arial;
	font-size: 1.5rem;
	color: #bababb;
	text-shadow: 0px 0px 1px rgba(178, 178, 178, 0.40);
	line-height: 1.2em;
	padding-right: 5%;
}

.footer {
	margin-top: 10%;
	background-color: #1b2a55;
}

.footer img {
	width: 20%;
	margin: 5%;
	float: left;
}

.footer p {
	font-family: Arial;
	font-size: 1rem;
	color: #bababb;
	text-shadow: 0px 0px 1px rgba(178, 178, 178, 0.40);
	margin: 5% 2%;
	float: right;
}
